.header-bg {
  background: #08292b url(/img/header-lines.jpg) right center no-repeat;
}

.header-title {
  padding-left: 0;
  padding-right: 0;
  height: 90px;
  color: #428d89;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 90px;
  margin-left: 10px;
}

.header-logo {
  height: auto;
}

@media screen and (max-width: 1199px) {
  .header-title {
    font-size: 26px;
  }
  .header-logo {
    width: 12px;
  }
}
@media screen and (max-width: 768px) {
  .header-title,
  .header-bg {
    height: 50px;
  }
  .header-title {
    line-height: 50px;
  }
}
