.templatemo-container {
  max-width: 1920px;
  margin: 0 auto;
}

/* Header Section */

.header-bg {
  background: #08292b;
  background: linear-gradient(
    to right,
    #08292b 0%,
    #08292b 50%,
    #1b434c 51%,
    #1b434c 100%
  );
}

.header-logo-container {
  background: #08292b url(/img/header-lines.jpg) right center no-repeat;
}
.header-title,
.header-nav-container {
  padding-left: 0;
  padding-right: 0;
  height: 90px;
}
.header-title {
  color: #428d89;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 90px;
  margin-left: 10px;
}
.mobile-menu-icon {
  display: none;
}
.header-logo {
  height: auto;
}
.header-nav-container {
  background-color: #1b434c;
  display: flex;
  align-items: flex-end;
}
.header-nav {
  margin-left: 50px;
  text-transform: uppercase;
}

.header-nav ul {
  overflow: hidden;
}
.header-nav li {
  list-style: none;
  float: left;
  font-weight: 700;
}
.header-nav li a {
  color: #386771;
  display: block;
  height: 60px;
  width: 162px;
  text-align: center;
  padding-top: 25px;
  transition: all 0.3s ease;
}
.header-nav li:hover,
.header-nav .active {
  background: url(/img/nav-active.png) no-repeat;
  background-size: contain;
  color: white;
}
.header-nav li:hover a {
  color: white;
}

/* Header Img Section */

.header-img {
  background: url(/img/header-img.jpg) no-repeat center center;
  background-size: cover;
  height: 540px;
}

/* Header Welcome Section */

.welcome-container {
  background: #1b434c;
  background: linear-gradient(to bottom, #3f6973 0%, #2f5f6b 41%, #133640 100%);
}
.welcome-wrapper {
  display: flex;
  align-items: center;
}
.welcome-title,
.welcome-description {
  display: inline-block;
  margin: 0;
  max-width: 700px;
  color: #fff;
  padding: 20px;
}
.welcome-divider-lines-img {
  display: inline-block;
  width: 6px;
  height: 49px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Main Section */

.section-shadow-bottom {
  background-image: url(/img/section-shadow.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
.section-title-container {
  margin-bottom: 60px;
}
.section-title {
  font-weight: 700;
  font-size: 42px;
}
.section-title-underline {
  margin-bottom: 5px;
  margin-top: 0;
}
.section-title-underline-blue {
  border-bottom: 2px solid #08292b;
  margin: 5px auto 0 auto;
  width: 40px;
}
.section-title-2 {
  font-size: 32px;
  margin-bottom: 30px;
  margin-top: 0;
}
.font-weight-300 {
  font-weight: 300;
}
.blue-text {
  color: #457c89;
}
.gray-text {
  color: #9c9c9c;
}
.ul-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 0 1em;
  list-style: none;
  line-height: 2em;
}
.ul-1 li:before {
  content: "\2192";
  color: #08292b;
  padding: 10px;
}
.btn-blue-gradient {
  background: #1b434c;
  color: white;
  margin-right: 30px;
}
.btn-blue-gradient:hover {
  color: #b8e6f0;
}
.btn-transparent {
  border: 1px solid #000;
  color: #000;
}
.btn-transparent:hover {
  color: #568a96;
  border-color: #568a96;
}
.btn-transparent,
.btn-blue-gradient {
  font-weight: 700;
  padding: 10px 30px;
  text-transform: uppercase;
}

/* Media Query Section */

@media screen and (max-width: 1199px) {
  .header-title {
    font-size: 26px;
  }
  .header-logo {
    width: 12px;
  }
  .header-nav {
    margin-left: 0;
  }
  .header-nav li a {
    width: 150px;
  }
  .header-img {
    height: 360px;
  }
  .welcome-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  .header-nav li a {
    padding-top: 15px;
    width: 115px;
  }
  .header-img {
    height: 270px;
  }
  .welcome-wrapper {
    display: inline-block;
  }
  .welcome-divider-lines-img {
    margin-left: 10px;
    margin-right: 10px;
  }
  .carousel-container {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .header-bg {
    background: rgb(8, 41, 43);
  }
  .header-title,
  .header-logo-container {
    height: 50px;
  }
  .header-title {
    line-height: 50px;
  }
  .header-nav-container {
    height: auto;
    position: fixed;
    z-index: 1000;
    top: 50px;
    right: 10px;
  }
  .header-nav {
    display: none;
  }
  .header-nav li {
    float: none;
  }
  .mobile-menu-icon {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }
  .mobile-menu-icon .fa {
    color: #428d89;
    background-color: #08292be6;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    padding-top: 9px;
    padding-left: 11px;
  }
  .welcome-divider-lines-img {
    height: 35px;
  }
}
@media screen and (max-width: 400px) {
  .ul-1 {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .btn-blue-gradient {
    margin-right: 8px;
  }
  .btn-transparent,
  .btn-blue-gradient {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 360px) {
  .crsl-nav {
    top: -127px;
  }
}
